# Copy this file so that it's named "hosts" and edit it
# according to your needs. You should put at least one
# host (hostname or IP address) in the [fonos] section,
# and be able to log into them with password-less SSH.
# It is also recommended to add your Spotify credentials.

[fonos]
fonos.local ansible_user=pi
fonos2.local ansible_user=pi

[fonos:vars]
spotify_username=sclarke
spotify_password=sch00lday5
